@import 'https://fonts.googleapis.com/css?family=Architects+Daughter|Cabin+Condensed:400,700|Cabin:400,700|Merriweather:300,300i,700,700i';

/* RESET */
html, body {
  margin: 0;
  padding: 0;
}

/* ELEMENTS */
a { color: Crimson; }

a:hover {
  color: white;
  background-color: Crimson;
  text-decoration: none;
}

article {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 666px;
}

body {
  background-color: #fff;
  color: #111;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5em;
  margin-top: 6px;
}

br      { display: none; }
main br { display: block; }

footer {
  color: DimGray;
  font-size: .9em;
  text-align: center;
}

header {
  padding-top: 11px;
  text-align: center;
}

header a {
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 1.33em;
  margin-left: 11px;
  margin-right: 11px;
  padding: 6px 11px;
  text-decoration: none;
}

header nav ul li {
  display: inline;
  font-size: 0.8em;
}

header span a       { color: #111; }
header span a:hover {
  color: #111;
  background-color: transparent;
  text-decoration: underline;
}

hr {
  border: none;
  border-bottom: 3px solid WhiteSmoke;
  margin-top: 3em;
  margin-bottom: 3em;
  width: 80%;
}

html {
  background-color: #111;
  background-image: url('/assets/img/bg_black.png');
}

h1, h2, h3, h4, h5, h6 { color: Black; }

h1, h2 { font-family: 'Cabin Condensed', sans-serif; }

h1 {
  font-size: 48px;
  margin-bottom: 0;
}

h1, main h1 small { line-height: 48px; }

h2 {
  border-bottom: 3px solid WhiteSmoke;
  font-size: 32px;
  margin-bottom: 0;
  padding-top: 32px;
  padding-bottom: .1em;
}

h3 { font-size: 24px; }

h4 {
  font-size: 19px;
  margin-bottom: -16px;
}

h5 {
  font-size: 16px;
  margin-bottom: -16px;
}

img { width: 100%; }
main img {
  right: 10%;
  position: relative;
  width: 120%;
}

main h1 small {
  color: Gray;
  font-size: .5em;
  font-weight: 400;
}

main h4 small, main h5 small {
  color: Gray;
  font-size: .9em;
  font-weight: 400;
}

small { font-size: 1em; }
main small { font-size: 0.8em; }

ul, ol {
  list-style-position: outside;
  padding-left: 0;
}


/* IDs */
main#resume  {
  position: relative;
  right: 25%;
  width: 150%;
}

main#resume img {
  position: static;
  width: 100%;
}

p#lede {
  color: Gray;
  font-family: 'Cabin', sans-serif;
  font-size: 24px;
  line-height: 1.5em;
}

span#highlight { background-color: yellow; }
