<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
<channel>
  <title>Meet Your Developer</title>
  <link>http://www.meetyourdeveloper.com</link>
  <description>...</description>
  <!-- <image>
    <url></url>
    <title></title>
    <link></link>
  </image> -->
  <language>en-us</language>
  <%= content %>
</channel>
</rss>
